*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  background-color: #ffffff;
  color: #000000;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.section-heading {
  position: relative;
  margin-bottom: 0.5em;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.section-padding {
  padding: 5em 2em;
}

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 500;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: #ffffff;
  transition: width 300ms;
}
.burger-btn__bars {
  width: 100%;
}
.burger-btn__bars::after {
  top: 12px;
  width: 60%;
}
.burger-btn__bars::before {
  top: 27px;
  width: 30%;
  transition-delay: 100ms;
}

.nav {
  z-index: 100;
}
.nav-mobile {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  transition: transform 500ms cubic-bezier(0.47, 0, 0.745, 0.715);
  background-image: linear-gradient(45deg, rgb(7, 79, 32), rgb(14, 212, 90));
  z-index: 10;
}
.nav-mobile--active {
  transform: translateX(0);
}
.nav-desktop {
  display: none;
  position: fixed;
  width: 100%;
  padding: 0 5em;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  transition: background-color 600ms;
}
.nav__logo {
  position: relative;
  font-size: 3.6rem;
  color: #000000;
  text-decoration: none;
}
.nav__item {
  position: relative;
  display: inline-block;
  padding: 1.5em;
  font-size: 2.8rem;
  color: #000000;
  text-decoration: none;
  transition: 300ms;
  z-index: 100;
}
.nav__item:hover, .nav__item::after, .nav .active {
  color: #ffffff;
  background-color: #000000;
}

.shadow-bg {
  background-color: rgba(255, 255, 255, 0.9);
}

.black-bars-color,
.black-bars-color::after,
.black-bars-color::before {
  background-color: #000000;
}

.offers-text {
  position: relative;
  margin-bottom: 1.5em;
  font-size: 2.4rem;
  font-weight: 300;
  text-align: center;
  color: #000000;
}
.offers__cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.offers__card {
  position: relative;
  margin: 1em;
  height: 550px;
  width: 300px;
  text-align: center;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}
.offers__card-btn {
  margin: 1em auto;
  padding: 0.5em 1em;
  border-radius: 4px;
  border: none;
  width: 60%;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  font-size: 1.8rem;
  transition: background-color 300ms, box-shadow 300ms, color 300ms;
  cursor: pointer;
}
.offers__card-btn-green {
  background-color: #2ade72;
  box-shadow: 0 0 5px 1px #2ade72;
}
.offers__card-btn:hover {
  background-color: #0ea149;
  color: #ffffff;
  box-shadow: 0 0 5px 1px #2ade72;
}
.offers__card-title {
  font-size: 2.8rem;
  font-weight: 400;
}
.offers__card-price {
  padding-top: 0.2em;
  padding-bottom: 0.5em;
  font-size: 4.8rem;
  font-weight: 600;
}
.offers__card-list {
  text-align: center;
  list-style-type: none;
  font-size: 1.8rem;
  color: #000000;
}
.offers__card-list-item {
  padding: 0.5em;
}
.offers__card-list-item-minus {
  color: #909090;
}
.offers__card-list .fa-check {
  color: #2ade72;
}

.footer {
  color: #000000;
  background-color: #f5f5f5;
}
.footer .wrapper {
  padding: 5em 1em 1em;
}
.footer__box {
  font-size: 1.4rem;
}
.footer__box-desktop {
  display: none;
}
.footer__box-logo {
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 3rem;
}
.footer__box-title {
  margin-bottom: 1em;
  font-size: 2.4rem;
}
.footer__box-social {
  text-align: center;
  margin: 2em 0 1em;
}
.footer__box-link {
  padding: 0 0.2em;
  color: #000000;
  font-size: 3.6rem;
  text-decoration: none;
  transition: color 300ms;
}
.footer__box-link:hover {
  color: #2ade72;
}
.footer__bottom-text {
  padding: 2em;
  text-align: center;
}

@media (min-width: 576px) {
  .aboutus__box {
    flex-direction: row;
    justify-content: space-between;
  }
  .aboutus__box-text {
    width: 55%;
  }
  .aboutus__box-img {
    width: 40%;
  }
  .aboutus__img {
    max-height: 300px;
  }
  .hero-img {
    height: 300px;
  }
  .hero-img__heading {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .section-heading {
    font-size: 3.6rem;
  }
  .section-padding {
    padding: 6em 2em;
  }
  .header__heading {
    font-size: 3.6rem;
  }
  .header__text {
    font-size: 2.2rem;
  }
  .aboutus__text {
    font-size: 1.4rem;
  }
  .hero-img__box {
    width: 70%;
    height: 40%;
  }
  .hero-img__heading {
    font-size: 2.6rem;
  }
  .footer__boxes {
    display: flex;
    justify-content: center;
  }
  .footer__box {
    margin: 0 0.2em;
    width: 50%;
  }
  .footer__box-desktop {
    display: block;
  }
  .footer__box-logo {
    font-size: 3rem;
  }
  .footer__box-title {
    font-size: 2rem;
  }
  .footer__box-list {
    list-style: none;
  }
  .footer__box-list-item {
    margin-bottom: 1em;
  }
  .footer__box-list-item a {
    color: #000000;
    text-decoration: none;
  }
  .footer__box:first-child {
    width: 100%;
    -moz-text-align-last: left;
         text-align-last: left;
  }
  .offers__cards {
    justify-content: center;
  }
  .offers__card {
    margin: 0.5em;
  }
}
@media (min-width: 992px) {
  .section-heading {
    font-size: 4.8rem;
  }
  .section-padding {
    padding: 8em 2em;
  }
  .header__heading {
    font-size: 5.2rem;
  }
  .header__text {
    font-size: 3rem;
  }
  .header__img {
    background-image: url("../img/1.jungle-big.jpg");
  }
  .burger-btn {
    display: none;
  }
  .nav-mobile {
    display: none;
  }
  .nav-desktop {
    display: flex;
  }
  .nav__item {
    color: #000000;
    font-size: 2.2rem;
  }
  .nav__item:hover {
    color: #ffffff;
  }
  .nav__item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    content: "";
    background-color: #000000;
    transition: height 300ms;
    z-index: -5;
  }
  .nav__item:hover::after {
    height: 100%;
  }
  .nav__item:hover {
    color: #ffffff;
    background-color: #000000;
  }
  .nav__logo {
    padding: 0.5em;
  }
  .aboutus__box {
    margin: 5em 0;
  }
  .aboutus__text {
    font-size: 2rem;
  }
  .aboutus__title {
    font-size: 3.6rem;
  }
  .hero-img {
    background-image: url("../img/3.girl-big.jpg");
  }
  .hero-img__box {
    width: 70%;
    height: 40%;
  }
  .hero-img__heading {
    font-size: 3.2rem;
  }
  .offers__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .offers__card {
    margin: 1em;
    width: 300px;
  }
  .footer__box-logo {
    font-size: 5rem;
  }
  .footer__box-title {
    font-size: 2.4rem;
  }
}
@media (min-width: 1200px) {
  .nav__logo {
    padding: 0;
  }
  .hero-img__box {
    width: 50%;
    height: 40%;
  }
  .hero-img__heading {
    font-size: 4.2rem;
  }
}/*# sourceMappingURL=offers.css.map */