$white-color: #ffffff;
$black-color: #000000;
$gray-color: #909090;
$light-gray-color: #e1e1e1;
$green-color: #2ade72;
$light-green-color: #d5fbe4;
$dark-green-color: #0ea149;
$red-color: #de4b2a;
$main-background-color: #ffffff;
$second-background-color: #f5f5f5;
$nav-gradient: linear-gradient(45deg, rgb(7, 79, 32), rgb(14, 212, 90));